<header class="main-header">
  <div class="header-container">
    
    <a href="/index.html" class="logo">
      <img src="/images/FerreiraSport-logo.png" alt="Ferreira Sport Logo" class="header-logo" />
      
    </a>

    <div class="header-actions">
      
      <div class="currency-selector">
        <label for="currency-select">Moneda:</label>
        <select id="currency-select">
          <option value="USD">USD ($)</option>
          <option value="ARS">ARS ($)</option>
        </select>
      </div>

      <a href="/cart/index.html" class="cart-btn">
      <img src="/images/Cart.png" alt="Cart image" class="Cart-image" />
        <span class="cart-text">Carrito</span>
        <span class="cart-count hide">0</span>
      </a>

    </div>

  </div>
</header>